.contenedor {
    background-color: #fff7f7;
    max-width: 1200px;
    height: 600px;
    margin: 0 auto;
    text-align: center;
    border-radius: 20px;
    margin-top: 2rem;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.titulos {
    font-size: 4rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.subtitulos {
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}